BOT_TOKEN=
ADMIN_ID=

PANEL_URL=https://YOUR_IP:PORT
PANEL_USERNAME=
PANEL_PASSWORD=
PANEL_ROOT_PATH=/
PANEL_2FA_SECRET=

VLESS_PUBLIC_KEY=
VLESS_SNI=api.github.com
VLESS_SID=

CARD_NUMBER=5500 0000 0000 0000
PAYMENT_AMOUNT=150

DB_PATH=users.json
